.map {
  height: 450px;
  background-color: #DCDCDC;
  padding: 1rem;
  border-radius: 20px;
  margin-top: 16px;
  box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
}

.map .leaflet-container {
  height: 100%;
  border-radius: 15px;
}

.info-flag img {
  width: 50px;
  border-radius: 50px;
}

.info-container{
  background-color: #ffe6e6;
}

.info-country{
  background:#D3D3D3;
  text-align: center;
  color: #CD5C5C;
}

.info-case1{
  color:#6A5ACD;

}
.info-case2{
  color:#006600;
}

.info-case3{
  color: #992600;
}
.info-name {
  font-size: 16px;
  background:#F5F5F5  ;
  font-weight: bold;
  color: #778899;
  text-align: center;
}

.info-flag {
  height: 76px;
  width: 100%;
  background-size: cover;
  border-radius: 10px;
}

.info-confirmed,
.info-recovered,
.info-deaths {
  font-size: 16px;
  margin-top: 5px;
}